<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="{% static './index.css' %}"/>
    <link rel="stylesheet" href="{% static 'responsive.css' %}" />
    <title>IISM</title>
  </head>
  <body>

                            <!-- header -->

    <header>
      <div class="header-logo">
        <img src="{% static './Logo SoI.jpg' %}" alt="Logo" class="image" />
        <div class="logo-text">
          <img src="{% static './logo Text Trans.png' %}" alt="logo-text" />
        </div>
      </div>
      <div class="right-header">
        <div class="gallery"><a href="#">Gallery</a></div>
        <div class="survey-of-india"><a href="https://www.surveyofindia.gov.in/">Survey of India</a></div>
        <div class="login-btn"><a href="{% static './Login/Login.html' %}">Login</a></div>
      </div>
    </header>




            <!-- navigation bar -->


    <section class="navigation-bar">
      <div class="nav-bar" id="nav-bar">
        <i class="fa fa-bars menu-bar" id="menu-bar"></i>
        <h6 id="nav-phone">Menu</h6>
      </div>
      <div class="nav-tab" id="nav">
        <div class="about-us nav" id="about"><a href="#">About Us</a></div>
        <div class="courses nav" id="course">
          <a href="#">Courses &nbsp;<i class="fa fa-angle-down"></i></a>
        </div>
        <div class="admission-procedure nav">
          <a href="#" id="admission">Admission Procedure</a>
        </div>
        <div class="online-registration nav">
          <a href="#">Online Registration</a>
        </div>
        <div class="site-map nav"><a href="#">Site Map</a></div>
      </div>
    </section>


        <!-- sub-tab -->

    <section class="sub-menu-container">
      <div class="sub-menu about-us" id="about-us">
        <ul>
          <li><a href="#">Introduction</a></li>
          <li><a href="#">Structure of NIGST</a></li>
          <li><a href="#">About SOI</a></li>
          <li><a href="#">Location</a></li>
          <li><a href="#">Staff</a></li>
          <li><a href="#">Faculty with profile</a></li>
        </ul>
      </div>
      <div class="sub-menu courses" id="courses">
        <ul>
          <li><a href="#">Regular</a></li>
          <li><a href="#">Special courses</a></li>
          <li><a href="#">Customized</a></li>
          <li><a href="#">Departmental Courses</a></li>
          <li><a href="#">Training Calendar</a></li>
        </ul>
      </div>
      <div class="sub-menu admission-procedure" id="admission-procedure">
        <ul>
          <li><a href="#">Rules & Regulation</a></li>
          <li><a href="#">How to apply</a></li>
        </ul>
      </div>
    </section>


                        <!-- side -menu -->


    <section class="body-content">
        <i class="fa fa-bars menu-bar2" id="menu-bar1"></i>
        <div class="menu" id="men">
          <ul>
            <li>Geo-Informatics Education & Career Prospects</li>
            <li>Governance</li>
            <li>Activities</li>
            <li>Facilities</li>
            <li>Course Calendar</li>
            <li>Publications</li>
          </ul>
        </div>


                <!-- body -->

        <div class="website-main-container">
         <div class="content-container">
          <h1>NATIONAL INSTITUTE FOR GEO-INFORMATICS SCIENCE AND TECHNOLOGY</h1>
          <h2>Survey of India, Uppal, Hyderabad</h2>
          <h2>Deptt. of Science & Technology, Govt. Of India</h2>
          <h4>Estd. 1967 under United Nations Development Programme</h4>
         </div>

        
         <!-- announcement-container -->

        
         <div class="announcement-container">
          <div class="announcement">
            <h2>Posted on : 14 Dec,2022</h2>
          <div class="announcement-content"><span>Call for Proposal:</span> Announcement of Opportunity (AO) for Capacity Building in Space Based Disaster Management Support</div>
          </div>
          <div class="announcement">
            <h2>Posted on : 14 Dec,2022</h2>
          <div class="announcement-content"><span>Call for Proposal:</span> Announcement of Opportunity (AO) for Capacity Building in Space Based Disaster Management Support</div>
          </div>
          <div class="announcement">
            <h2>Posted on : 14 Dec,2022</h2>
          <div class="announcement-content"><span>Call for Proposal:</span> Announcement of Opportunity (AO) for Capacity Building in Space Based Disaster Management Support</div>
          </div>
          <div class="announcement">
            <h2>Posted on : 14 Dec,2022</h2>
          <div class="announcement-content"><span>Call for Proposal:</span> Announcement of Opportunity (AO) for Capacity Building in Space Based Disaster Management Support</div>
          </div>
          <div class="announcement">
            <h2>Posted on : 14 Dec,2022</h2>
          <div class="announcement-content"><span>Call for Proposal:</span> Announcement of Opportunity (AO) for Capacity Building in Space Based Disaster Management Support</div>
          </div>
          <div class="announcement">
            <h2>Posted on : 14 Dec,2022</h2>
          <div class="announcement-content"><span>Call for Proposal:</span> Announcement of Opportunity (AO) for Capacity Building in Space Based Disaster Management Support</div>
          </div>
          <div class="announcement">
            <h2>Posted on : 14 Dec,2022</h2>
          <div class="announcement-content"><span>Call for Proposal:</span> Announcement of Opportunity (AO) for Capacity Building in Space Based Disaster Management Support</div>
          </div>
          <div class="announcement">
            <h2>Posted on : 14 Dec,2022</h2>
          <div class="announcement-content"><span>Call for Proposal:</span> Announcement of Opportunity (AO) for Capacity Building in Space Based Disaster Management Support</div>
          </div>
          <div class="announcement">
            <h2>Posted on : 14 Dec,2022</h2>
          <div class="announcement-content"><span>Call for Proposal:</span> Announcement of Opportunity (AO) for Capacity Building in Space Based Disaster Management Support</div>
          </div>
          <div class="announcement">
            <h2>Posted on : 14 Dec,2022</h2>
          <div class="announcement-content"><span>Call for Proposal:</span> Announcement of Opportunity (AO) for Capacity Building in Space Based Disaster Management Support</div>
          </div>
          <div class="announcement">
            <h2>Posted on : 14 Dec,2022</h2>
          <div class="announcement-content"><span>Call for Proposal:</span> Announcement of Opportunity (AO) for Capacity Building in Space Based Disaster Management Support</div>
          </div>
          <div class="announcement">
            <h2>Posted on : 14 Dec,2022</h2>
          <div class="announcement-content"><span>Call for Proposal:</span> Announcement of Opportunity (AO) for Capacity Building in Space Based Disaster Management Support</div>
          </div>
          <div class="announcement">
            <h2>Posted on : 14 Dec,2022</h2>
          <div class="announcement-content"><span>Call for Proposal:</span> Announcement of Opportunity (AO) for Capacity Building in Space Based Disaster Management Support</div>
          </div>
          <div class="announcement">
            <h2>Posted on : 14 Dec,2022</h2>
          <div class="announcement-content"><span>Call for Proposal:</span> Announcement of Opportunity (AO) for Capacity Building in Space Based Disaster Management Support</div>
          </div>
          <div class="announcement">
            <h2>Posted on : 14 Dec,2022</h2>
          <div class="announcement-content"><span>Call for Proposal:</span> Announcement of Opportunity (AO) for Capacity Building in Space Based Disaster Management Support</div>
          </div>
         </div>
         
         
        </div>
    </section>


                            <!-- footer -->


    <footer>
      <div class="container">
        <div class="first-container">
          <div class="container"><a href="#">Tender</a></div>
          <div class="container"><a href="#">Recruitemnts</a></div>
          <div class="container"><a href="#">Sitemap</a></div>
          <div class="container"><a href="#">Feedback</a></div>
          <div class="container"><a href="#">Grievences</a></div>
          <div class="container"><a href="#">Contact</a></div>
        </div>
        <div class="second-container">
          <div class="container"><a href="#">Tel Directory</a></div>
          <div class="container"><a href="#">Privacy Policy</a></div>
          <div class="container"><a href="#">Hyper linking Policies</a></div>
          <div class="container">
            <a href="#">Payement & Refund Policies</a>
          </div>
          <div class="container"><a href="#">Website Policies</a></div>
        </div>
        <div class="first-container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.3585034052703!2d78.04183781479459!3d30.340759681775502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390929de8a4bd667%3A0x263d8092c6fb3c92!2sIndian%20Institute%20of%20Remote%20Sensing!5e0!3m2!1sen!2sin!4v1671525429082!5m2!1sen!2sin"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </footer>
    <div class="copyright-container">
      <div class="copy-right">
        Copyright © 2022 NIGST All Rights Reserved
      </div>
      <div class="copy-right">Powered By - KRITASUTRA PRIVATE LIMITED</div>
    </div>

    <script src="{% static './index.js' %}"></script>
  </body>
</html>

