
body{
  background-color: lightblue;
}
.container{
  margin: auto    ;
  width: 30%;
  height: 400px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin-top: 7%;
}
.label{
  font-size: 25px;
  padding: 10px;
  margin: 10px;
}
.username{
  width:70%;
  height: 30px;
  border-radius: 3px;
  padding-left: 10px;
  border: none;
  box-shadow: gray 0px 0px 1px,gray 0px 0px 1px,  gray 0px 0px 1px,  gray 0px 0px 1px, gray 0px 0px 1px;
  
}
a{
  text-decoration: none;
}
.login{
  width: 20%;
  height: 10%;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #073213;
  color: white;
  border: none;
  border-radius: 3px;
}